body{
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    background-color:#f4f4f4;
}
#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: maxmin(150px, auto);
}
/* header style */
#header{
    grid-column: 1 / 13;
    background: #35424a;
    color: #ffffff;
    border-bottom: #e8491d solid 3px;
    /*max-height: 120px;*/
    
}
#header h1{
    margin-left: 30px;
    font: 30px/1.5 Arial, Helvetica,sans-serif;
    max-width: 300px;
    float: left;
    
}
#header h1 span{
    color: #e8491d;
    font-weight: bold;
}
#nav{
    float: right;
    margin-top: 16px;
}
#nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
#nav li a:hover{
    color: #cccccc;
    font-weight: bold;
}
#nav li{
    list-style-type: none;
    display: inline;
    padding: 0 20px 0 20px;
    
}


/* main style */

#main{
    grid-column: 1 / 13;
    min-height: 400px;
    background: url(../img/showcase.jpg) no-repeat  -400px;
    text-align: center;
    color: white;
}
#main h1{
    font-size: 50px;
    margin-top: 80px;
}
#main p{
    font-size: 20px;
}

/* subscribe style */

#sub{
    grid-column: 1 / 13;
    background-color: #35424a;
    color: white;
}
#sub h1{
    float: left;
    margin-left: 80px;
}
#sub form{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
#sub input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
#sub button{
  height:25px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

/* boxs style */

#boxs{
    grid-column: 1 / 13;
    text-align: center;
}
.box{
    float: left;
    width: 30%;
    margin-top: 50px;
    padding: 10px;
}
.box img{
    width: 90px;
}

/* footer style*/

#footer{
    grid-column: 1 / 13;
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
}
